.iswaiting .animateditem {
  opacity: 1; /*0;*/
}

.iswaiting .animateditem {
  /*panimation-name: fadeInDown; ause-between-iterations 0.3s*/
  animation-duration: 1.5s;
  /*animation-fill-mode: forwards;*/
}
.iswaiting .animateditem:nth-child(1) {
  /*animation-delay: 0.3s;*/
  animation-name: fadeInDown_1;
}
.iswaiting .animateditem:nth-child(2) {
  /*animation-delay: 0.3s;*/
  animation-name: fadeInDown_2;
}
.iswaiting .animateditem:nth-child(3) {
  /*animation-delay: 0.6s;*/
  animation-name: fadeInDown_3;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown_1 {
  0% {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  30% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown_2 {
  0% {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  60% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown_3 {
  0% {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  60% {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  90% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pause-between-iterations {
  /* Other animation is visible for 25% of the time */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  /* Other animation is hidden for 75% of the time */
  25.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
